.logo {
    position: absolute;
    top: 24px;
    left: 24px;
    height: 64px;
    width: 64px;
    z-index: 25;
    background: url('../assets/joyjet.png') no-repeat 0 0;
    background-size: cover;
}