.sticky-nav {
    background: $secondary-color;
    position: sticky;
    z-index: 35;
    top: 0;
    display: none;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    padding: 3rem;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: weight(medium);

    ul {
        display: flex;
        justify-content: space-evenly;
        width: 45vw;
    }

    .logo {
        top: 0;
        align-self: center;
        justify-self: flex-start;
    }
}

@include media-md {
    .sticky-nav {
        display: flex;
    }
}

@include media-lg {
    .sticky-nav {
        ul {
            width: 35vw;
        }
    }
}