$primary-color: #f8f8f8;
$secondary-color: #4A90E2;

$text-color: #fff;
$text-color--dk: #3E4D60;
$text-color--lt: #8c94a8;
$text-color--ft: #908c8c;

$circle: #9b9b9b;
$circle-outline: #979797;

$font-weight:(
    "thin": 100,
    "regular": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
    "bolder": 900,
);

@function weight($weightname){
    @return map-get($font-weight, $weightname );
};

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content; 
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content; 
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content; 
    }
}